@{
    Layout = null;
}

@*
    User GUI
*@
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Klinic Plus +</title>
    <!-- Fonts Online -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/main-style.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/css/popupWindow.css" />

</head>
<body>
    <div id="boxes">
        <div id="dialog" class="window" style="overflow-y: scroll;">
            @*<div id="patient">

                </div>*@
            <form>
                <h2>Patient Data</h2>
                <input type="number" id="home_phone" name="home_phone" placeholder="Home Phone" style="color: black;">
                <input type="number" id="cell_phone" name="cell_phone" placeholder="Cell Phone" style="color: black;">
                <input type="number" id="cnic" name="cnic" placeholder="CNIC" style="color: black;">

                <!--BLOOD GROUP -->
                <select id="blood_group" name="blood_group">
                    <option selected="selected">Select a BloodGroup</option>
                    <option>A +</option>
                    <option>A -</option>
                    <option>B +</option>
                    <option>B -</option>
                    <option>AB +</option>
                    <option>AB -</option>
                    <option>O +</option>
                    <option>O -</option>
                    <option>Unknown</option>
                </select>

                <!--MARITAL STATUS -->
                <select id="marital_status" name="marital_status">
                    <option selected="selected">Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">married</option>
                    <option value="Seprated">seperated</option>
                    <option value="Divorced">divorced</option>
                    <option value="Widowed">widowed</option>
                </select>

                <input type="text" id="e_contactName" name="e_contactName" placeholder="Emergency Contact Name" style="color: black;">
                <input type="number" id="e_contactNumber" name="e_contactNumber" placeholder="Emergency Contact Number" max="11" size="10" style="color: black;">


                <!--MEDICAL HISTORY -->
                Medical History: <br>
                <select name="medical_history" id="medical_history" multiple="multiple" onselect="">
                    <option value="Asthma">Asthma</option>
                    <option value="Angina/Chest Pain">Angina/Chest Pain</option>
                    <option value="Anemia">Anemia</option>
                    <option value="Arthritis">Arthritis</option>
                    <option value="Galucoma">Galucoma</option>
                    <option value="Cancer">Cancer</option>
                    <option value="Chronic Bronchitis">Chronic Bronchitis</option>
                    <option value="Cirhosis">Cirhosis</option>
                    <option value="Clotting Disorder">Clotting Disorder</option>
                    <option value="Diabetes">Diabetes</option>
                    <option value="Emphysema">Emphysema</option>
                    <option value="Epilepsy">Epilepsy</option>
                    <option value="Fractures">Fractures</option>
                    <option value="Gallstones">Gallstones</option>
                    <option value="Heart Attack">Heart Attack</option>
                    <option value="Headaches">Headaches</option>
                    <option value="Hepatitis">Hepatitis</option>
                    <option value="High Blood Pressure">High Blood Pressure</option>
                    <option value="High Cholesterol">High Cholesterol</option>
                    <option value="HIV positive/AIDS">HIV positive/AIDS</option>
                    <option value="Kidney Disease">Kidney Disease</option>
                    <option value="Kidney Stones">Kidney Stones</option>
                    <option value="Migraines">Migraines</option>
                    <option value="Stroke">Stroke</option>
                    <option value="Tuberculosis">Tuberculosis</option>
                    <option value="Ulcers">Ulcers</option>
                </select>
                Other: <input type="text" name="medical_history1" id="medical_history1" placeholder="Enter Text..." style="color: black;">
                <!--TREATMENTS -->
                Treatments:<br>
                <input type="text" id="treatments" name="treatments" placeholder="Enter Text..." style="color: black;">

                <!--FAMILY HISTORY -->
                Family History: <br>
                If any blood relative has ever had any of the following, please check box and indicate relationship:<br>
                <select id="family_history" name="family_history" multiple="multiple">
                    <option value="Bleeding Tendency">Bleeding Tendency</option>
                    <option value="Cancer">Cancer</option>
                    <option value="Diabetes">Diabetes</option>
                    <option value="Heart Attack">Heart Attack</option>
                    <option value="Heart Disease">Heart Disease</option>
                    <option value="High Blood Pressure">High Blood Pressure</option>
                    <option value="Kidney Disease">Kidney Disease</option>
                    <option value="Migraine Headaches">Migraine Headaches</option>
                    <option value="Stroke">Stroke</option>
                    <option value="Tuberculosis">Tuberculosis</option>
                </select>

                <!--ALLERGIES -->
                Allergies:
                <select name="allergies" id="allergies" multiple="multiple">
                    <option value="Cat Allergy">Cat Allergy</option>
                    <option value="Peanuts">Peanuts</option>
                    <option value="Cat Allergy">Cat Allergy</option>
                </select>
                Other: <input type="text" id="allergies" name="allergies" placeholder="Enter Text..." style="color: black;"><br>


                <!--SYMPTOMS -->
                Symptoms: <br>
                <b>Respiratory</b><br>
                <select name="symptoms" id="symptoms" multiple="multiple">
                    <option value="shortness of breath">shortness of breath</option>
                    <option value="congestion">congestion</option>
                    <option value="cough">cough</option>
                    <option value="short of breath on exertion">short of breath on exertion</option>
                </select>

                <b>Genral</b><br>
                <select name="symptoms" id="symptoms" multiple="multiple">
                    <option value="weight gain">Weight Gain</option>
                    <option value="fatigue">Fatigue</option>
                    <option value="weight loss">Weight Loss</option>
                    <option value="loss of appetite">Loss of Appetite</option>
                    <option value="weakness">weakness</option>
                </select>
                <!--HABITS -->
                Habits:<br>
                <input type="text" name="habit" id="habit" placeholder="Enter Text..." style="color: black;">
            </form>

            <div id="popupfoot"><a href="#" id="okay" class="close agree">Okay</a></div>
        </div>
    </div>

    <div id="mask"></div>

    <div id="main-wrapper">
        <div class="box-shadow-for-ui">
            <div class="uou-block-2b">
                <div class="container">
                    <a href="#" class="logo"><img src="~/images/logo.png" alt=""></a> <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
                    <nav class="nav">
                        <ul class="sf-menu">
                            <li> <a href="#">Logout</a> </li>
                            @*<li class="active">
                                    <a href="index.html">Pages</a>
                                    <ul>
                                        <li><a href="profile_company.html">Profile Company</a></li>
                                        <li><a href="profile_company-no-tabs.html">Profile Company No Tabs</a></li>
                                        <li><a href="user-dashboard(connections)(hotkeys-disabled).html">User Dashboard 1</a></li>
                                        <li><a href="user-dashboard(connections)(hotkeys-enabled).html">User Dashboard 2</a></li>
                                        <li><a href="user-dashboard(followers).html">User Dashboard 3</a></li>
                                        <li><a href="user-dashboard(following).html">User Dashboard 4</a></li>
                                        <li><a href="blog-post.html">Blog Post</a></li>
                                    </ul>
                                </li>
                                <li> <a href="user-profile(layout-1).html">User Profile</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="gui-kit.html">GUI KIT</a></li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end .uou-block-2b -->
        </div>
        <!-- end .uou-block-2b -->
        <!-- SUB Banner -->
        <div class="profile-bnr sub-bnr user-profile-bnr">
            <div class="position-center-center">
                <div class="container">
                    <h2>User Dashboard</h2>
                </div>
            </div>
        </div>

        <!-- Compny Profile -->
        <div class="compny-profile">

            <!-- Profile Company Content -->
            <div class="profile-company-content has-bg-image" data-bg-color="f5f5f5">
                <div class="container">
                    <div class="row">

                        <!-- SIDE BAR -->
                        <div class="col-md-4">
                            <!-- Company Information -->
                            <div class="sidebar">
                                <h5 class="main-title"><label id="nameView"></label></h5>
                                <div class="sidebar-thumbnail"> <img src="~/images/memberdefaultimage.jpg" alt=""> </div>
                                <div class="sidebar-information">
                                    <ul class="single-category">
                                        <li class="row">
                                            <h6 class="title col-xs-6">Gender</h6>
                                            <span class="subtitle col-xs-6"><label id="genderView"></label></span>
                                        </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Date of Birth</h6>
                                            <span class="subtitle col-xs-6"><label id="dobView"></label></span>
                                        </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Location</h6>
                                            <span class="subtitle col-xs-6"><label id="locationView"></label></span>
                                        </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Email Address</h6>
                                            <span class="subtitle col-xs-6"><label id="emailView"></label></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Tab Content -->
                        <div class="col-md-8">
                            <div class="network">
                                <h4>Network</h4>

                                <!-- Nav Tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#myProfile">My Profile</a></li>
                                    <li><a data-toggle="tab" href="#myHealth">My Health</a></li>
                                    <li><a data-toggle="tab" href="#discussion">Discussion</a></li>
                                    <li><a data-toggle="tab" href="#findMyDoctor">Find my Dcotor</a></li>
                                </ul>

                                <!-- Tab Content -->
                                <div class="tab-content">

                                    <!-- Connections -->
                                    <div id="myProfile" class="tab-pane fade in active">
                                        <div class="net-work-in">
                                            <!-- Filter -->
                                            <div class="filter-flower">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        Home Phone
                                                        <ul>
                                                            <li><label id="homePhoneView"></label></li>
                                                        </ul>
                                                        Cell Phone
                                                        <ul>
                                                            <li><label id="cellPhoneView"></label></li>
                                                        </ul>
                                                        Blood Group
                                                        <ul>
                                                            <li><label id="bloodGroupView"></label></li>
                                                        </ul>
                                                        Martial Status
                                                        <ul>
                                                            <li><label id="martialStatusView"></label></li>
                                                        </ul>
                                                        Emergency Contact Name
                                                        <ul>
                                                            <li><label id="e_contactNameView"></label></li>
                                                        </ul>
                                                        Emergency Contact Number
                                                        <ul>
                                                            <li><label id="e_contactNumberView"></label></li>
                                                        </ul>
                                                        Medical History
                                                        <ul>
                                                            <li><label id="medicalHistoryView"></label></li>
                                                        </ul>
                                                        Family History
                                                        <ul>
                                                            <li><label id="familyHistoryView"></label></li>
                                                        </ul>
                                                        Allergies
                                                        <ul>
                                                            <li><label id="allergiesView"></label></li>
                                                        </ul>
                                                        Symptoms
                                                        <ul>
                                                            <li><label id="symptomsView"></label></li>
                                                        </ul>
                                                        Treatments
                                                        <ul>
                                                            <li><label id="treatmentsView"></label></li>
                                                        </ul>
                                                        Habits
                                                        <ul>
                                                            <li><label id="habitsView"></label></li>
                                                        </ul>
                                                    </div>

                                                    <!-- Short -->
                                                    @*<div class="col-sm-5">
                                                            <select>
                                                                <option>Sort</option>
                                                                <option>Sort</option>
                                                                <option>Sort</option>
                                                                <option>Sort</option>
                                                            </select>
                                                        </div>*@
                                                </div>
                                            </div>

                                            <!-- Members -->
                                            @*<div class="main-mem">

                                                    <!-- Head -->
                                                    <div class="head">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <button><i class="fa fa-user-plus"></i>Follow</button>
                                                                <button><i class="fa fa-trash"></i>Delete</button>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <form>
                                                                    <input type="search" placeholder="Search">
                                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Tittle -->
                                                    <div class="tittle">
                                                        <ul class="row">
                                                            <li class="col-xs-4"> <span>Title</span> </li>
                                                            <li class="col-xs-3"> <span>Location</span> </li>
                                                            <li class="col-xs-3"> <span>Network</span> </li>
                                                            <li class="col-xs-2 n-p-r n-p-l"> <span>Connections</span> </li>
                                                        </ul>
                                                    </div>

                                                    <!-- Tittle -->
                                                    <div class="folow-persons">
                                                        <ul>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-1" class="styled" type="checkbox">
                                                                            <label for="checkbox1-1"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <!-- Title -->
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-2" class="styled" type="checkbox">
                                                                            <label for="checkbox1-2"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <!-- Title -->
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-3" class="styled" type="checkbox">
                                                                            <label for="checkbox1-3"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <!-- Title -->
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-4" class="styled" type="checkbox">
                                                                            <label for="checkbox1-4"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <!-- Title -->
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-5" class="styled" type="checkbox">
                                                                            <label for="checkbox1-5"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <!-- Title -->
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-6" class="styled" type="checkbox">
                                                                            <label for="checkbox1-6"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>

                                                            <!-- MEMBER -->
                                                            <li>
                                                                <div class="row">
                                                                    <!-- Title -->
                                                                    <div class="col-xs-4">
                                                                        <!-- Check Box -->
                                                                        <div class="checkbox">
                                                                            <input id="checkbox1-7" class="styled" type="checkbox">
                                                                            <label for="checkbox1-7"></label>
                                                                        </div>
                                                                        <!-- Name -->
                                                                        <div class="fol-name">
                                                                            <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>
                                                                            <h6>Collin Weiland</h6>
                                                                            <span>Web Developer</span>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Location -->
                                                                    <div class="col-xs-3 n-p-r n-p-l"> <span>San Francisco, USA</span> </div>
                                                                    <!-- Network -->
                                                                    <div class="col-xs-3 n-p-r"> <span>21 Followers</span> <span>10 Following</span> </div>
                                                                    <!-- Connections -->
                                                                    <div class="col-xs-2 n-p-r n-p-l"> <span>31 Connections</span> </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uou-block-4a secondary dark">
        <div class="container">
            <ul class="links">
                @*<li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>*@
            </ul>
            <p>Copyright &copy; 2015 <a href="#">Klinic Plus</a>. All Rights reserved.</p>
        </div>
    </div>
    <!-- end .uou-block-4a -->
    <div class="uou-block-11a">
        <h5 class="title">Menu</h5>
        <a href="#" class="mobile-sidebar-close">&times;</a>
        <nav class="main-nav">
            <ul>
                <li><a href="index.html">Index</a></li>
                <li> <a href="listing-filter.html">Professionals</a> </li>
                <li><a href="profile_company.html">Profile Company</a></li>
                <li><a href="profile_company-no-tabs.html">Profile Company No Tabs</a></li>
                <li><a href="user-dashboard(connections)(hotkeys-disabled).html">User Dashboard 1</a></li>
                <li class="active"><a href="user-dashboard(connections)(hotkeys-enabled).html">User Dashboard 2</a></li>
                <li><a href="user-dashboard(followers).html">User Dashboard 3</a></li>
                <li><a href="user-dashboard(following).html">User Dashboard 4</a></li>
                <li><a href="blog-post.html">Blog Post</a></li>
                <li> <a href="user-profile(layout-1).html">User Profile</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="gui-kit.html">GUI KIT</a></li>
            </ul>
        </nav>
        <hr>
    </div>

    <!-- Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/plugins/superfish.min.js"></script>
    <script src="~/js/jquery.ui.min.js"></script>
    <script src="~/js/plugins/rangeslider.min.js"></script>
    <script src="~/js/plugins/jquery.flexslider-min.js"></script>
    <script src="~/js/uou-accordions.js"></script>
    <script src="~/js/uou-tabs.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/gmap3.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="~/js/User/user.js"></script>
</body>
</html>
