
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Klinic Plus</title>

    <!-- Fonts Online -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/main-style.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/popupWindow.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="boxes">
        <div id="dialog" class="window" style="overflow-y: scroll;">
            @*<div id="patient">

                </div>*@
            <form>
                <h2>Reset your Password</h2>
                <input type="text" id="resetpassword_email" name="resetpassword_email" placeholder="Enter your Email Address" style="color: black;">
            </form>

            <div id="popupfoot"><a href="#" id="okay" class="close agree">Okay</a></div>
        </div>
    </div>
    <div id="mask"></div>

    <div id="main-wrapper">
        <!-- Top Toolbar -->
        <!-- end toolbar -->

        <div class="box-shadow-for-ui">
            <div class="uou-block-2b">
                <div class="container">
                    <a href="#" class="logo"><img src="images/logo.png" alt=""></a> <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
                </div>
            </div>
            <!-- end .uou-block-2b -->
        </div>

        <!-- HOME PRO-->
        <div class="home-pro">

            <!-- PRO BANNER HEAD -->
            <div class="banr-head">
                <div class="container">
                    <div class="row">

                        <!-- CONTENT -->
                        <div class="col-sm-7">
                            <div class="text-area">
                                <div class="position-center-center col-md-10">
                                    <h1> Here comes the social networking platform that you’ve been waiting for</h1>                                    
                                </div>
                            </div>
                        </div>

                        <!-- FORM SECTION -->
                        <div class="col-sm-5">
                            <div class="login-sec">

                                <!-- TABS -->
                                <div class="uou-tabs">
                                    <ul class="tabs">
                                        <li><a href="#register">Register Now</a></li>
                                        <li  class="active" ><a href="#log-in">Member Login</a></li>
                                    </ul>

                                    <!-- REGISTER -->
                                    <div class="content">
                                        <div id="register" >
                                            @using (Html.BeginForm("Register", "", FormMethod.Post, new { id = "some"}))
                                            {
                                                <input type="email" name="email" id="emailReg" value="" placeholder="Email" />
                                                <input type="password" name="password"  id="passwordReg" value="" placeholder="Password" />
                                                <select id="type" name="type">
                                                    <option value="0">Please Select Account Type</option>
                                                    <option value="Doc">Doctor</option>
                                                    <option value="Pat">Patient</option>
                                                </select>
                                                <input id="txtFname" type="text" name="firstname" value="" placeholder="Firstname" />
                                                <input  id="txtLname" type="text" name="lastname" value="" placeholder="Lastname" />
                                                <select id="gender" name="gender">
                                                    <option value="0">Select Gender</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                                <input id="dob" type="date" name="dob" value="" placeholder="Date Of Birth" style="color: lightgray;" />
                                                <select name="country" id="country">
                                                    <option value="0">Select Country</option>
                                                    <option value="Pakistan">Pakistan</option>
                                                    <option value="India">India</option>
                                                </select>
                                                <select name="city" id="city">
                                                    <option value="0">Select City</option>
                                                </select>
                                                <div class="login-with"></div>
                                                <button id="btnRegister" type="submit">Register</button>
                                            }
                                        </div>
                                        <!-- LOGIN -->
                                        <div id="log-in" class="active">
                                            @using (Html.BeginForm("Index", "", FormMethod.Post))
                                            {
                                                <input type="email" id="email" name="email" placeholder="Email" />
                                                <input type="password" name="password" placeholder="Password" />
                                                <button type="submit" id="submitLogin">Login</button>
                                                <div class="login-with"> </div>
                                                <div class="forget">Forgot your password? <a id="forgot">Click Here</a></div>
                                            }
                                        </div>
                                        <div id="forget">
                                            <form>
                                                <input type="email" placeholder="Email Address">
                                                <button type="submit">Login</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scripts -->
            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script src="~/js/jquery-2.1.3.min.js"></script>
            <script src="~/js/bootstrap.js"></script>
            <script src="~/js/plugins/superfish.min.js"></script>
            <script src="~/js/jquery.ui.min.js"></script>
            <script src="~/js/plugins/rangeslider.min.js"></script>
            <script src="~/js/plugins/jquery.flexslider-min.js"></script>
            <script src="~/js/uou-accordions.js"></script>
            <script src="~/js/uou-tabs.js"></script>
            <script src="~/js/plugins/select2.min.js"></script>
            <script src="~/js/owl.carousel.min.js"></script>
            <script src="~/js/gmap3.min.js"></script>
            <script src="~/js/scripts.js"></script>
            <link href="~/css/toastr.css" rel="stylesheet" />
            <script src="~/js/toastr.js"></script>
            <script src="~/js/Home/home.js"></script>
            <script type="text/javascript">
                
            </script>
    </div>
        </div>
            </body>
</html>
